</body>

  <footer class="text-center text-lg-start" >
    <div class="container d-flex justify-content-center py-5">

      <a rel="noopener noreferrer" target="_blank" class="mx-2" href="https://www.facebook.com/thomas.heck.3154"><i class="fab fa-facebook-f"></i></a>

        <a rel="noopener noreferrer" target="_blank" class="mx-2" href="https://www.youtube.com/channel/UCqFXbK6WZ7FF3SbtLvOt3OQ"><i class="fab fa-youtube"></i></a>

        <a rel="noopener noreferrer" target="_blank" class="mx-2" href="https://www.linkedin.com/in/thomas-heck-a7233b254/"><i class="fab fa-linkedin"></i></a>


        <a rel="noopener noreferrer" target="_blank" class="mx-2" href="#"> <i class="fab fa-twitter"></i></a>

    </div>

    <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Dutch Fence inc.
    </div>
</html>
