<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dutch Fence</title>
    <meta name="description" content="This is a website about web development. We cover topics such as JavaScript, Node.JS, MongoDB, CSS, HTML and Bootstrap. ">
    <link rel="canonical" href="http://dutchfence.com/" />
    <link rel="icon" type="image/x-icon" href="">
    <meta name=”robots” content=”index, follow”>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js">  </script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KTJ3BXW3J9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KTJ3BXW3J9');
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<script src="https://kit.fontawesome.com/8e7a8c8efa.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand dark-link" href="/">Dutch Fence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-4 " id="navbarTogglerDemo02">
          <ul class="navbar-nav pt-1 mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
</ul>
  <ul class="navbar-nav ms-auto mb-2 pt-1 mb-lg-0">
        <li class="nav-item dropdown me-3">
      <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Articles
      </a>

      <ul class="dropdown-menu" aria-labelledby="Dropdown menu to search by category">
        <li><a class="dropdown-item" href="/search/byTag/HTML">HTML</a></li>
        <li><a class="dropdown-item" href="/search/byTag/CSS">CSS</a></li>
        <li><a class="dropdown-item" href="/search/byTag/JavaScript">JavaScript</a></li>
        <li><a class="dropdown-item" href="/search/byTag/MongoDB">MongoDB</a></li>
        <!-- <li><a class="dropdown-item" href="/search/byTag/Ethical Hacking">Ethical Hacking</a></li> -->
      </ul>
    </li>
    <li class="nav-item dropdown me-3">
    <a class="nav-link" href="#"  aria-expanded="false">
      Projects
    </a>
  </li>
    <li class="nav-item dropdown me-3">
  <a class="nav-link active" href="/contact" role="button" aria-expanded="false">
    Contact
  </a>
</li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
