<%- include("partials/header.ejs") %>
<form class="form-control" action=<%= "/"+ login %> method="post">
  label
  <input type="email" name="username" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="button">submit</button>
</form>


<%- include("partials/footer.ejs") %>
