<%- include("partials/header.ejs") %>
<div class="container vh-100">
<div class="d-flex justify-content-center ">


<form class="form-control w-50 " action=<%= "/"+ login %> method="post">

    <label class="form-label" for="us">Enter your username: </label>
    <input class="form-control" type="email" id="us" name="username" value="">


    <label class="form-label" for="pw">Enter your password: </label>
    <input class="form-control" type="password" id="pw" name="password" value="">


  <button type="submit" name="button">submit</button>


</form>
</div>
</div>

<%- include("partials/footer.ejs") %>
