
<%- include("partials/upload_header.ejs") %>

<body>


    <div class="container d-flex justify-content-center flex-column mt-3 ">
      <form  action=<%= "/"+uploadCode +"/upload"  %> method="post">
        <div class="form-group">
          <label for="titleText">Title</label>
          <input class="form-control" type="text" id="titleText" name="Title" value="">
        </div>
        <div class="form-group">
          <label for="thumbnail">Thumbnail</label>
          <input class="form-control" type="text" id="thumbnail" name="Thumbnail" value="">
        </div>
        <div class="form-group">
          <label for="tags">Tag</label>
          <select class="form-select" aria-label="Select the tag" id="tags" name="Tag" >
            <option selected>Choose a tag</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Ethical Hacking">Ethical Hacking</option>
            <option value="MongoDB">MongoDB</option>
            </select>
        </div>
        <div class="form-group">
          <label for="descriptionText">Description: max 200 words</label>
          <span id="char-count">0/200</span>
          <textarea class="form-control" id="descriptionText" name="Description" rows="8" cols="80"></textarea>

        </div>
        <div class="form-group">
          <div id="editor" name="editor">

          </div>

        </div>
        <div class="form-group">
          <label for="descriptionText">Set contentEditable to false and delete the last input starting at ql-clipboard</label>
          <textarea class="form-control" id="preview" name="preview" rows="8" cols="80"></textarea>

        </div>
          <button type="button" id="subbmit" name="">Commit text</button>
<button type="submit" id="submit"  name="button">submit</button>
      </form>
    </div>


    <script>
var toolbarOptions = [  ['bold', 'italic', 'underline', 'strike'],
['link','image'],       // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']                                         // remove formatting button
]

    var quill = new Quill('#editor', {
      modules: {
          toolbar: toolbarOptions,
        syntax: true              // Include syntax module

          // Include button in toolbar
      },
      theme: 'snow'
    });

    </script>
    <script >

      let submit =document.getElementById("subbmit");
      if(submit){

        if(
      submit.addEventListener("click", function(){
        let contentString={text: document.getElementById("editor").innerHTML};
          document.getElementById("preview").innerHTML = contentString.text;

      }));}
    </script>
  </body>

</html>
