
<%- include("partials/header.ejs") %>

<body>


    <div class="container d-flex justify-content-center flex-column">
      <form  action=<%= "/"+uploadCode   %> method="post">
        <div class="form-group">
          <label for="titleText">Title</label>
          <input class="form-control" type="text" id="titleText" name="Title" value="">
        </div>
        <div class="form-group">
          <label for="thumbnail">Thumbnail</label>
          <input class="form-control" type="text" id="thumbnail" name="Thumbnail" value="">
        </div>
        <div class="form-group">
          <label for="tags">Tag</label>
          <select class="form-select" aria-label="Select the tag" id="tags" name="Tag" >
            <option selected>Choose a tag</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="Javascript">Javascript</option>
            <option value="Ethical Hacking">Ethical Hacking</option>
            <option value="MongoDB">MongoDB</option>
            <option value="Hiking">Hiking</option>
            </select>
        </div>
        <div class="form-group">
          <label for="descriptionText">Description: max 200 words</label>
          <span id="char-count">0/200</span>
          <textarea class="form-control" id="descriptionText" name="Description" rows="8" cols="80"></textarea>

        </div>
        <div class="form-group">
          <div id="editor" name="editor">

          </div>

        </div>
        <div class="form-group">
          <label for="descriptionText">Set contentEditable to false and delete the last input with the link to quilljs till embed URL</label>
          <textarea class="form-control" id="preview" name="preview" rows="8" cols="80"></textarea>

        </div>
          <button type="button" id="subbmit" name="">Commit text</button>
<button type="submit" id="submit"  name="button">submit</button>
      </form>
    </div>

    <script>
      var quill = new Quill('#editor', {
        theme: 'snow'
      });


    </script>
    <script >
      let submit =document.getElementById("subbmit");
      if(submit){
        console.log("bestaat");
      submit.addEventListener("click", function(){
        let contentString={text: document.getElementById("editor").innerHTML};
        console.log(contentString);

          document.getElementById("preview").innerHTML = contentString.text;

      });}
    </script>
  </body>

</html>
