:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

footer {
  background: #E6A87A;
  color: #1657AB;
}

body {
  padding-top: 4rem;
  background-color: #FFFFF2;
  text-align: center;
}

nav {
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
  color: #1657AB;
  font-weight: 900;
  background-color: #E07E34;
}
nav .navbar-brand {
  text-shadow: 1px 0 2px #613716;
  font-size: 2rem;
  color: #1657AB;
  text-decoration: none;
}
nav .nav-link {
  background: linear-gradient(to right, #E07E34, #E07E34), linear-gradient(to right, #1657AB, #139475, #1657AB);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
nav .nav-link:hover {
  background-size: 0 3px, 100% 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

.headliner {
  font-family: "Bebas Neue", cursive;
}

.marg1 {
  margin: 8rem 0;
}

.marg2 {
  margin: 4rem 0;
}

.marg3 {
  margin: 2rem 0;
}

.marg4 {
  margin: 1rem 0;
}

.marg5 {
  margin: 0.5rem 0;
}

.border-seperator {
  padding-top: 2rem;
  border-bottom: 0.5px solid #d9d9d9;
}

.ql-editor p {
  font-size: 1rem;
  line-height: 2rem;
}
.ql-editor h1,
.ql-editor h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

#main-page-welcome {
  padding-top: 2rem;
  background: linear-gradient(to bottom left, #FFFFF9 50%, #FFFFF2 50%);
}
#main-page-welcome h2 {
  font-family: "Bebas Neue", cursive;
}
#main-page-welcome .carousel-item {
  height: 38rem;
  background-color: black;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
#main-page-welcome img {
  opacity: 0.6;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

#main-page-latest-updates {
  text-align: left;
}
#main-page-latest-updates h2 {
  font-family: "Bebas Neue", cursive;
}
#main-page-latest-updates .container-fluid {
  padding-left: 15rem;
}
#main-page-latest-updates .tag {
  color: grey;
}
#main-page-latest-updates .readMore {
  background-color: black;
  width: 25%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-page-latest-updates .readMore a {
  color: white;
}
#main-page-latest-updates img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

#articlePage #topSection .img-cont {
  position: relative;
  text-align: center;
  color: white;
}
#articlePage #topSection .a {
  background-color: black;
  max-width: min-content;
  color: white;
}
#articlePage #topSection img {
  object-fit: fill;
  opacity: 0.7;
}
#articlePage #topSection .border-seperator {
  padding-top: 0.5rem;
  border-top: 0.5px solid #d9d9d9;
}
#articlePage #topSection .date {
  color: #7373a5;
}
#articlePage #topSection .tag {
  background: #e0e0eb;
  color: #46466d;
}
#articlePage #topSection h1 {
  font-family: "Bebas Neue", cursive;
}
#articlePage #articleSection {
  padding-top: 40rem;
  margin-top: -40rem;
}
#articlePage #articleSection #bigText {
  border: none;
}
#articlePage #articleSection .indexArticle {
  position: sticky;
  top: 30%;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: solid 2px;
  padding-right: 0.4rem;
  margin-top: 2rem;
  color: blue;
}
#articlePage #articleSection .indexArticle a {
  color: #E07E34;
  text-decoration: none;
}

#contactPage .contactTextBox {
  height: auto;
  word-wrap: break-word;
}

/*# sourceMappingURL=styles.css.map */
