// Variables
$navBarColor: #3D8361;
$bodyWhite: #f2f2f2;
$brandFont: 'EB Garamond', serif;
$elementHeight: 32rem;
$elementWidth: 70%;

$elementHeights: (
"1": 8rem,
"2": 4rem,
"3": 2rem,
"4": 1rem,
"5": 0.5rem
);

// Global styles
footer{
background: #d9d9d9;
}
body{
  background-color: $bodyWhite;
  text-align: center;

}
nav{
  .navbar-brand{
    font-family: $brandFont;
    font-weight: 600;
    font-size: 1.5rem;

  }
  background-color: $navBarColor;
}

// Custom classes
@each $name, $glyph in $elementHeights{
.marg#{$name}{
  margin: $glyph 0;
}
}
.border-seperator{
  padding-top: 2rem;
  border-bottom: 0.5px solid #d9d9d9;


}

// Main page

// Welcome section
#main-page-welcome{
    h1{
      font-family: $brandFont;
      font-weight: 500;
      font-size: 3rem;
    }


.carousel-item{
  background-color: black;
  width: 55%;
  height: 80vh;
position: relative;
left: 22.5%;
margin-top: 4rem;
}
    img{
      opacity:0.5;
      height: -webkit-fill-available;
      height: -moz-available;
      height: fill-available
    }
      background: linear-gradient(to bottom left, #d9d9d9 50%, $bodyWhite 50%);

}

#main-page-latest-updates{
  .container-fluid{
    padding-left: 15rem;
  }
.tag{
  color: grey;
}
a{
text-decoration: none;
color:white;
}

.readMore{
  background-color: black;
  width:25%;
  height:2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width:100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px;
  object-fit: cover;

}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
text-align: left;

}
